* {
    box-sizing: border-box;
}

/* ---------------------------------------- */
/* - Correct for sticky header and footer - */
/* ---------------------------------------- */
header,
footer {
    position: fixed;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px 10px;
    
}
header{
    top: 0;
    z-index: 100;
}
footer{
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    z-index: 50;
}
.icons {
    align-self: flex-end;
    width: 30%;
}
.icons img {
    width: 30%;
    max-height: 30px;
    padding: 0 5px;
    transition: all 0.5s;
}
.icons img:hover {
    transform: scale(1.5);
}
#email img {
    width: 40%;
}
.scroll-icon {
    height: 80px;
    animation: footer 1s infinite linear;
}
@-webkit-keyframes footer{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, 5px);
    }
}
/* --------------------------------------- */
/* --- End of Sticky Header and Footer --- */
/* --------------------------------------- */


/* ---------------------------------------- */
/* ---------------- Navbar ---------------- */
/* ---------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    top: 3px;
    right: 3px;
    height: 75px;
}
.logo {
    width: 50px;
    margin: auto 5px;
}

/* The sidepanel menu */
.sidepanel {
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 300; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
  
/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Source Code Pro', monospace;
}
  
/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: auto;
    background: transparent;
    border: none;
    transition: all 0.5s;
}
.openbtn:hover {
      transform: scale(1.5);
}
.openbtn:focus {
    outline: none;
}
/* ---------------------------------------- */
/* ------------ End of Navbar ------------- */
/* ---------------------------------------- */

body {
    height: calc(100vh + 10px);
    /* height: 200vh; */
    width: 100%;
    background-image: url(../img/code.gif);
    background-repeat: repeat;
    background-size: cover;
}

/* ---------------------------------------- */
/* ----------- Main Background ------------ */
/* ---------------------------------------- */

.main-background {
    height: calc(100vh + 10px);
    /* height: 200vh; */
    width: 100%;
    /* background-image: url(../img/code.gif);
    background-repeat: repeat;
    background-size: cover; */
}

.main-background-text {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4em;
    text-shadow: 0 0 3px #09ff00, 0 0 6px #000000;
}

/* ---------------------------------------- */
/* -------- End of Main Background -------- */
/* ---------------------------------------- */


/* ---------------------------------------- */
/* ---------- About Me Section ------------ */
/* ---------------------------------------- */

#about {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 15px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.profile-img {
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid white;
}


/* Skills Icons */
.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skills {
    height: 50px;
}
.left,
.right {
    margin: 10px;
}

/* ---------------------------------------- */
/* ------ End of About Me Section --------- */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* ----------- Project Section ------------ */
/* ---------------------------------------- */

#projects {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

#projects p {
    margin: 10px;
}


/* .jR3DCarouselGallery {
    z-index: 100;
    width: 90%;
} */

/* Carousel */
.jR3DCarouselGalleryCustom {
    margin: auto;			
}
.jR3DCarouselGalleryCustom .captions {
    position: relative;
    padding: 5px 0;
    bottom: 4px;
    color: white;
    background: #2eb127;
    display: block;
}
.jR3DCarouselGalleryCustom a{
      text-decoration: none;			
}

/* Project Tiles */
.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-img {
    opacity: 1;
    transition:  0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.project-container:hover .project-img {
    -webkit-filter: brightness(30%);
}

.project-container:hover .middle {
    opacity: 1;
}

.project-info button {
    border: 1px solid #006caf;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 10px;
    background-color: #009efd;
    color: white;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 15px 10px 0 10px;
    width: 70px;
}
.project-info button:hover {
    background-color: #51bafc;
}

a, a:visited, a:hover, a:active {
    color: white;
  }

/* ---------------------------------------- */
/* -------- End of Project Section -------- */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* ----------- Timeline Section ----------- */
/* ---------------------------------------- */

#timeline {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

/*------ Date spinner ------*/
.date {
    display: flex;
    justify-content: center;
    font-size: 5em;
}

.date p {
    margin: 20px 0;
    z-index: 5;
}

.date h3 {
    margin-right: 10px;
}

.year-container {
    width: 82px;
}

.year {
    position: absolute;

}
/*-- End of Date spinner --*/


.timeline-img-container {
    position: relative;
    width: 90%;
    height: calc(100vh - 260px);
    margin: auto;
}

.timeline-img {
    position: absolute;
}

/*------ Uni days ------*/
.hat-graphic,
.diploma-graphic {
    position: relative;
    width: 70%;
    height: 50%;
    margin: auto;
}
#acm {
    left: 0;
    top: 25%;
    width: 100%;
}
#hat {
    width: 50%;
    left: 65%;
    top: 1%;
}
#notes {
    width: 70%;
    left: 15%;
}
#guitar {
    width: 80%;
    left: 10%;
}
#electric-guitar {
    width: 90%;    
    left: 5%;
}
#band {
    width: 100%;
    margin-top: -10%;
    left: 0;
}
#diploma {
    width: 120%;
    left: -10%;
}
.lights {
    width: 60%;
    animation: light-effect 1s infinite ease-in-out;
}
#yellow {
    left: -10%;
    animation-delay: 0.5s;
    width: 100%;
}
#red {
    left: 20%;
    animation-delay: 0.3s;
}
#blue {
    right: -10%;
    animation-delay: 0.7s;
    width: 100%;
}
#green {
    right: 20%;
    animation-delay: 1s;
} 
@-webkit-keyframes light-effect{
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/*---- End of Uni days ----*/

/*--- Ireland Days ---*/
#rainbow {
    width: 140%;
    left: -20%;
    top: -10%;
}
#gold {
    top: 50%;
    width: 50%;
    left: 75%;
}
#clover {
    width: 50%;
    left: -25%;
    top: 45%;
}
#plane {
    width: 100%;
    left: 80vw;
}
#flag {
    width: 90%;
    left: 5%;
}

#rock {
    left: -10%;
    width: 70%;
    z-index: 1;
}
#wax {
    width: 70%;
    left: 15%;
    top: 40%;
    z-index: 1;
}
#new-world {
    width: 70%;
    left: 40%;
    z-index: 1;
}
#stc {
    width: 100%;
    z-index: 1;
}
/*-- End of Ireland Days --*/

/*--- Back to England ---*/
#boat {
    width: 90%;
    left: -80vw;
}
#england {
    width: 90%;
    top: 20%;
    left: 5%;
}
#vw {
    width: 100%;
    left: 0;
    top: 15%;
}
#paycircle,
#treehouse {
    width: 100%;
    top: 5%;
    left: 0;
}

/* ---------------------------------------- */
/* ------- End of Timeline Section -------- */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* ------------ Contact Section ----------- */
/* ---------------------------------------- */

#contact {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 10%;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

#email-2 img {
    width: 120px;
    transition: all 0.5s;
    margin-top: 5%;
    margin-bottom: 10%;
}
#email-2 img:hover,
.cv-img:hover {
    transform: scale(1.2);
}

.cv-img {
    width: 90px;
    transition: all 0.5s;
}

/* ---------------------------------------- */
/* ------- End of Contact Section --------- */
/* ---------------------------------------- */

.end {
    position: relative;
    top: 200vh;
}
/* ---------------------------------------- */
/* -------------- Typography -------------- */
/* ---------------------------------------- */
.intro-text,
#projects,
#timeline,
#contact {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.1em;
    line-height: 130%;
    color: white;
    text-shadow: 0px 0px 4px #000000;
}
h2 {
    font-family: 'Source Code Pro', monospace;
}

/* ---------------------------------------- */
/* ----------- End of Typography ---------- */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* ----------- Trigger Points ------------- */
/* ---------------------------------------- */

.trigger-1 {
    position: absolute;
    top: 10px;
}
.trigger-2 {
    position: absolute;
    top: 30%;
}
.trigger-3 {
    position: absolute;
    top: 60%;
}
.trigger-4 {
    position: absolute;
    top: 90%;
}
.trigger-date {
    position: absolute;
    top: 100%;
}
.trigger-5 {
    position: absolute;
    top: 200%;
}

/* All sections have a 100% screen size height */
section {
    height: 100vh;
}


h1 {
    text-transform: uppercase;

    margin: 5px 0;
}

/* Intro */
.intro {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to right, 
        #3ab5b0 0%, 
        #3d99be 31%, 
        #56317a 100%
    );
    text-align: center;
}




/* ---------------------------------------- */
/* ---------- Glitch Text Effect ---------- */
/* ---------------------------------------- */

.glitch:before, .glitch:after {
    content: 'JOE GLANVILLE';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-image: url(../img/code.gif);
    color: #fff;
}
.glitch:before{
    left: 8px;
    text-shadow: 2px 0 #00ffea;
    animation: effect 3s infinite linear;
}
.glitch:after{
    left: 4px;
    text-shadow: -2px 0 #00a2ff;
    animation: effect 3s infinite linear;
}
@-webkit-keyframes effect{
    0%{
        clip:rect(55px,9999px, 56px,0);
    }
    5%{
        clip:rect(47px,9999px, 30px,0);
    }
    10%{
        clip:rect(33px,9999px, 36px,0);
    }
    15%{
        clip:rect(35px,9999px, 9px,0);
    }
    20%{
        clip:rect(63px,9999px, 59px,0);
    }
    25%{
        clip:rect(96px,9999px, 98px,0);
    }
    30%{
        clip:rect(48px,9999px, 77px,0);
    }
    35%{
        clip:rect(50px,9999px, 34px,0);
    }
    40%{
        clip:rect(60px,9999px, 72px,0);
    }
    45%{
        clip:rect(10px,9999px, 81px,0);
    }
    50%{
        clip:rect(2px,9999px, 60px,0);
    }
    55%{
        clip:rect(23px,9999px, 89px,0);
    }
    60%{
        clip:rect(76px,9999px, 91px,0);
    }
    65%{
        clip:rect(62px,9999px, 30px,0);
    }
    70%{
        clip:rect(60px,9999px, 73px,0);
    }
    75%{
        clip:rect(60px,9999px, 87px,0);
    }
    80%{
        clip:rect(2px,9999px, 14px,0);
    }
    85%{
        clip:rect(28px,9999px, 87px,0);
    }
    90%{
        clip:rect(73px,9999px, 50px,0);
    }
    95%{
        clip:rect(79px,9999px, 70px,0);
    }
    100%{
        clip:rect(17px,9999px, 79px,0);
    }
}


/* ---------------------------------------- */
/* ------------ Media Queries ------------- */
/* ---------------------------------------- */

/* Tablet Screen */
@media only screen and (min-width: 768px) {

    .main-background-text {
        font-size: 1.8em;
    }
    #about {
        padding-left: 15%;
        padding-right: 15%;
    }
    .left, .right {
        margin: 30px;
    }
    .skills {
        height: 70px;
    }
    .profile-img {
        width: 180px;
    }
    .intro-text, #projects, #timeline, #contact {
        font-size: 1.2em;
        line-height: 140%;
    }
    .timeline-img-container {
        max-width: 450px;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    .main-background-text {
        font-size: 2em;
    }
    .skills {
        height: 90px;
    }
    .profile-img {
        width: 220px;
    }
    #projects p {
        margin-bottom: 10%;
    }
    #contact{
        padding-left: 20%;
        padding-right: 20%;
    }

}

/* Large Screen
@media only screen and (min-width: 1200px) {

} */
